[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "==4.5.2"
influxdb = "==5.2.1"
dnspython = "==1.16.0"
requests = "==2.21.0"
flask = "==1.0.2"
plotly = "==3.4.2"
dash = "==0.34.0"
dash-html-components = "==0.13.4"
dash-core-components = "==0.41.0"
netifaces = "==0.10.8"
sqlalchemy = "==1.2.15"
namedtupled = "==0.3.3"
mysqlclient = "==1.4.1"

[requires]
python_version = "3.7"
